<h1>KitchenGO</h1>

<% if @current_user %>
<a href = <%=new_recipe_path%>>Create New Recipe </a><br>
<a href = <%= profile_path%>>See Your Profile</a><br>
<%=link_to 'Log Out', '/log_out'%>
<p>
<%end%>

<%= form_tag recipes_path, :method => 'get' do %>
<p>
<%= text_field_tag :search%>
<%= submit_tag 'Find A Recipe!'%>
</p>
<%end%>

<!-- INSERT TOGGLE TO SHOW ONLY ALLERGY FREE RECIPES-->
<%@recipes.each do |recipe|%>
<h1><a href = <%=recipe_path(recipe.id)%>><%=recipe.norm_title%></a></h1>
<div class="container">
<img src='<%=recipe.image%>'></img>
</div>
<%end%>