
<%= form_for @recipe do |f|%>
<label>Title: </label><br>
<%=f.text_field :title %><br><br>
<label>Content: </label><br>
<%=f.text_field :content %><br><br>
<label>Image: </label><br>
<%=f.text_field :image %><br><br>
<label>Ingredients:</label><br>
<%= f.collection_select :category_id, Category.all, :id, :name %>
<%= f.collection_check_boxes :ingredient_ids, Recipe.top_ingredients(10), :id, :name %><br><br>
<%= f.label "Choose Unlisted Ingredients" %> <br>
<%= f.fields_for :ingredients do |ingredient| %>

  <%= ingredient.text_field :name %><br><br>
<%end%>
<%= f.submit %>
<%end%>

<!-- categories -->
