

<h1><%=@recipe.title%></h1>
<p>By <%=@recipe.author.user.name%></p><br>
<label>Ingredients:</label>
<ul>
<%@recipe.ingredients.each_with_index do |ingredient|%>
<li><%=ingredient.name%></li>
<%end%>
</ul><br>
<label>Instructions:</label>
<p><%=@recipe.content%></p>

Bookmarks:
<%= form_for @bookmark do |f| %>
<%= f.hidden_field :recipe_id, :value => @recipe.id %>
<%= f.hidden_field :reader_id, :value => @user.reader.id %>
<%= f.submit "Bookmark" %>

<% end %>

