<<<<<<< a786e09095e513d5bdc0fe7519ab68f8e163213d


<h1><%=@recipe.title%></h1>
<p>By <%=@recipe.author.user.name%></p><br>
<label>Ingredients:</label>
<ul>
<%@recipe.ingredients.each_with_index do |ingredient|%>
<li><%=ingredient.name%></li>
<%end%>
</ul><br>
<label>Instructions:</label>
<p><%=@recipe.content%></p>
=======
RECIPE PAGE

<%= @recipe.title %>
<%= @recipe.image %>
<%= @recipe.content %>

<input value="Bookmark" type="submit" action="/bookmarks" method="post">
>>>>>>> stub show page for recipe with bookmark button
