<h1><%=@recipe.norm_title%></h1>
<div class="container">
  <img src='<%=@recipe.image%>'></img>
</div>
<% if @recipe_rating %>
  <span><strong>Recipe Rating:</strong> <%= @recipe.recipe_rating %> out of 5</span>
<% else %>
  <span>This recipe doesn't have a rating yet! Be the first to review!</span>
<% end %>
<strong><p>By <%= link_to @recipe.author.user.name, user_path(@recipe.author.user.id) %></p></strong>
<h4>Ingredients:</h4>
<ul>
<%@recipe.ingredients.each_with_index do |ingredient|%>
<% if ingredient.name != "" %>
<li><%=ingredient.name%></li>
<%= form_for @line_item do |f|%>
<%= f.hidden_field :shopping_list_id, :value => @user.shopping_list.id %>
<%= f.hidden_field :ingredient_id, :value => ingredient.id%>
<%= f.submit "add to shopping list" %>
<%end%>
<%end%>
<%end%>

</ul>
<%= link_to 'See my shopping list', shopping_list_path%>
<br><br>
<label>Instructions:</label>
<p><%=@recipe.content%></p>


  <h4>Like it? Bookmark this!</h4>
    <%= form_for @bookmark do |f| %>
      <%= f.hidden_field :recipe_id, :value => @recipe.id %>
      <%= f.hidden_field :reader_id, :value => @user.reader.id %>
      <% if !@user.reader.is_bookmarked?(@recipe) %>
        <%= f.submit "Bookmark" %>
      <% else %>
        <%= f.submit "Bookmarked!", :disabled => "disabled" %>
      <% end %>
    <% end %>
    <br/>
    <br/>


 <div> 
    <% if @bookmarks %>
      Show me who bookmarked this!
      <% @recipe.bookmarks.each do |bookmark| %>
        <%= bookmark.reader.user.name %>
        <% end %>
    <% end %>
</div>

    <% if @user.reader.is_reviewed?(@reviews) || @author && @author.my_recipe?(@recipe) %>
      <p>You've already left a review, or this is your own recipe, silly! </p>
      <h3>Edit Review?</h3>
      (add edit form here)
    <% else %>
      <h3>Got something to say??? Say it!</h3>
      <%= form_for @review do |f| %>
        <%= f.hidden_field :recipe_id, :value => @recipe.id %>
        <%= f.hidden_field :reader_id, :value => @user.reader.id %>
        <div>
            <%= f.label :rating %>
        </div>
        <div>
          <%= f.select :rating, [1, 2, 3, 4, 5] %>
        </div>
        <div>
          <%= f.label :content, "Review" %>
        </div>
        <div>
          <%= f.text_area :content %>
        </div>
        <div>
          <%= f.submit "Submit Review" %>
        </div>
      <% end %>
<% if @reviews.any? %>
  <h3>Reviews</h3>
  <ol class="reviews">
    <%= render "recipe_review", locals: { review: @reviews } %>
  </ol>
<% end %>
<% end %>


<br>
<%= link_to 'Back', :back %>
