RECIPE PAGE

<%= @recipe.title %>
<%= @recipe.image %>
<%= @recipe.content %>

<%= form_for @bookmark do |f| %>
<%= f.hidden_field :recipe_id, :value => @recipe.id %>
<%= f.hidden_field :reader_id, :value => @user.reader.id %>
<%= f.submit "Bookmark" %>

<% end %>
<!-- <form action="/bookmarks" method="post">
	<input type="hidden" value="{@recipe.id}" >
	<input value="Bookmark" type="submit" >
</form> -->