<h1><%=@recipe.title%></h1>
<p>By <%=@recipe.author.user.name%></p><br>
<label>Ingredients:</label>
<ul>
<%@recipe.ingredients.each_with_index do |ingredient|%>
<li><%=ingredient.name%></li>
<%end%>
</ul><br>
<label>Instructions:</label>
<p><%=@recipe.content%></p>

  Like it? Bookmark this!
  <%= form_for @bookmark do |f| %>
    <%= f.hidden_field :recipe_id, :value => @recipe.id %>
    <%= f.hidden_field :reader_id, :value => @user.reader.id %>
    <% if !@user.reader.is_bookmarked?(@recipe) %>
      <%= f.submit "Bookmark" %>
    <% else %>
      <%= f.submit "Bookmarked!", :disabled => "disabled" %>
    <% end %>
  <% end %>

