<h1><%= @user.name %></h1>

<p><%= image_tag @user.image, size: "200x200" %></p>
<p><%= link_to 'Edit Your Profile', edit_user_path(@user.id)%><p>
<p><strong>Hometown:</strong> <%= @user.hometown %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>About Me:</strong> <%= @user.bio %></p>
<p><strong>Favorite Cuisine:</strong> <%= @user.fav_cuisine %></p>
<strong>Food Allergies:</strong> <%= @user.allergies %><br><br>
<strong> </strong><br>
<ul>
<% if @user.author %>
 <strong><label>My Recipes:</label></strong><br>
  <% @user.author.recipes.each do |recipe| %>
  <%= link_to recipe.title, recipe_path(recipe)%><br>
  <%end%>
</ul>
<% end %>
<br>



<ul>
<% if @user.reader && @user.reader.bookmarks.count != 0 %>
 <strong><label>My Bookmarks:</label></strong><br>

  <% @user.reader.bookmarks.each do |bookmark| %>
  <%= link_to bookmark.recipe.norm_title, recipe_path(bookmark.recipe)%><br>


    <p><%= bookmark.truncate_content %></p></li>
  <% end %>
  </ul>
<%end%>
<br><br><button>
  <%= link_to "Log Out", log_out_path %>
</button>
