<h1><%= @user.name %></h1>

<p><%= image_tag @user.image, size: "200x200" %></p>
<p>Hi! I'm from <%= @user.hometown %></p>
<p><%= @user.bio %></p>
<p>My favorite cuisine is <%= @user.fav_cuisine %></p>
<p>I'm allergic to <%= @user.allergies %><br><br>

<% if @user.author %>
	<label><b>Check out my recipes!</b></label><br>
	<% @user.author.recipes.each do |recipe| %>
	<ul>
	<%= link_to recipe.norm_title, recipe_path(recipe)%><br>
	</ul>
	<%end%>
<% end %>


