<h1><%= @user.name %></h1>

<p><%= image_tag @user.image, size: "200x200" %></p>
<p><%= @user.hometown %></p>
<p><%= @user.email %></p>
<p><%= @user.bio %></p>
<p><%= @user.fav_cuisine %></p>
<small><%= @user.allergies %></small><br><br>
<label>Recipes:</label><br>
<% @user.author.recipes.each do |recipe| %>
<%= link_to recipe.title, recipe_path(recipe)%><br>
<%end%>


