<h1>My Shopping List</h1>
<br>
<strong>Add or Remove Items:</strong>

<%= form_for @shopping_list_uniq do |f| %>
  <%=f.fields_for :ingredients do |item|%>
 <%= item.label :id, item.object.name %>
 <%= item.hidden_field :name, :value => item.object.name%>
  <%= item.number_field :price, :value => @shopping_list.item_count(item.object), in: 0..8 %><br>
  <%end%>

  

  <br><br><br> Or... 

  <%= link_to 'Clear Your List', shopping_list_delete_all_path%>


  <br><br><br>
  <strong>Add Some More Items: </strong><br>
  <%= f.collection_check_boxes :line_items, Ingredient.show_without_items(@shopping_list.show_ingredient_ids), :id, :name do |b|
  b.label { b.check_box + b.text}
end%>

  <br><br><%= f.submit "Update Your List"%>
<% end %>




