<h1>My Shopping List</h1>


<p><%= link_to 'Edit Your List', edit_shopping_list_path(@shopping_list.id)%><p>
<%@shopping_list.count_same_ingredients.each do |ingredient, count|%>
  <ul><%if count > 1 && ingredient[-1] != "s"%>
    <li><%= "#{count} #{ingredient}s" %><br></li>
  <%else%>
    <li><%= "#{count} #{ingredient}" %><br></li>
  <%end%></ul>
<%end%>

<%= form_tag '/stores', method: 'post' do %>
	<%=text_field_tag :zip %> 
	<%=submit_tag 'find store' %>
<%end%>

<!--<% @shopping_list.line_items.each do |line_item|%>
	<%= line_item.ingredient.name%>  
 	<%= @shopping_list%>
	<br>
	<%end%> -->


