<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

<% if session[:user_id] %>
<a href = <%=new_recipe_path%>>Create New Recipe</a> |
<a href = <%= profile_path%>>See Your Profile</a> |
<%=link_to 'Log Out', '/log_out'%>
<p>
<%end%>




    <%= yield %>
  </body>
</html>
